.comment[comment]
  = link_to comment.user, class: "pull-left" do
    = user_avatar_tag(comment.user, 30)
  .comment_body
    %h5.media-heading
      = link_to comment.user.first_name, comment.user
      %small
        = "#{time_ago_in_words(comment.created_at)} ago - "
        = link_to comment do
          %span.glyphicon.glyphicon-link
          = comment.id
    .comment_content
      %p= markdown(comment.content)
    .comment_photos
      = render comment.photos
    .comment_actions
      = render "shared/actions", lovable: comment

