%br
.comment[comment]
  .comment_content
    = button_to "Delete", [comment.commentable, comment], remote: true, method: :delete
    = "---- #{dom_id(comment)} : #{comment.user.first_name} : #{comment.content}"

  .comment_hearts
    = render comment.hearts

  .comment_love
    = render "hearts/love_button", lovable: comment

