= simple_form_for [comment.commentable, comment], remote: true, html: {id: "#{dom_id(comment.commentable)}_#{dom_id(comment)}"} do |f|
  = f.error_notification
  = f.input :content, label: false, placeholder: "Leave a comment..."
  = f.button :submit, data: { disable_with: "Submitting..." }