.section.row
  .col-xs-12.col-md-offset-2.col-md-8
    %table.table.table-striped
      %thead
        %tr
          %th
          %th Name
          %th Posts
          %th Comments
          %th Photos
          %th Hearts
          %th Phone number
      %tbody
        - @users.each do |user|
          %tr
            %td= user_avatar_tag(user, 40)
            %td= link_to user.first_name, user
            %td= user.posts.count
            %td= user.comments.count
            %td= user.photos.count
            %td= user.hearts.count
            %td= user.phone_number
