.story-comment
  = link_to "#" do
    = comment.user_gravatar(37)
    -#= image_tag comment.user_gravatar(37), alt: "user-img", class: "img-circle img-responsive"
  .story-comment-content
    = link_to comment.user.name, "#"
    %time
      = comment.commented_at
    %p
      = comment.content
    .story-options-links
      = link_to "#" do
        = "love"
        %span= "(#{comment.hearts.count})"

