= simple_form_for post, remote: false, authenticity_token: true, html: { multipart: true }  do |f|
  = f.error_notification
  = f.input :content, label: false, placeholder: " what's on your mind?", input_html: { rows: "3" }
  = f.input :photos, as: :file, label: false, input_html: { multiple: true, name: "post[photos_attributes][][image]" }
  = f.submit "Post", data: { disable_with: "Submitting..." }, class: "btn btn-primary pull-right"

