.post[post]
  .post_content
    = button_to "Delete", [post], remote: true, method: :delete
    = "==== #{dom_id(post)} : #{post.user.first_name} : "
    = post.content

  .post_image
    - post.photos.each do |photo|
      = image_tag view_photo_path(photo, version: params[:version] || :small)

  .post_hearts
    = render post.hearts

  .post_love
    = render "hearts/love_button", lovable: post

  .post_comments
    = render post.comments

  .post_reply
    = render "comments/form", comment: post.build_comment(current_user)

  %hr

