.post[post]
  = link_to post.user, class: "pull-left" do
    = user_avatar_tag(post.user, 45)
  .post_body
    %h4.media-heading
      = link_to post.user.first_name, post.user
      %small
        = "#{time_ago_in_words(post.created_at)} ago - "
        = link_to post, title: post.created_at.strftime("%b %d, %Y") do
          %span.glyphicon.glyphicon-link
    .post_content
      %p= markdown(post.content)
    .post_photos
      = render post.photos
    .post_actions
      = render "shared/actions", lovable: post
  .post_comments
    = render post.comments
  .post_reply
    = render "comments/form", comment: post.comments.build(user: current_user)

