.post[post]
  = link_to post.user, class: "pull-left" do
    = image_tag post.user_avatar(45), class: "avatar"
  .post_body
    %h4.media-heading
      = link_to post.user_name, post.user
      %small
        = "#{time_ago_in_words(post.created_at)} ago - "
        = link_to post do
          %span.glyphicon.glyphicon-link
          = post.id
    .post_content
      %p= markdown(post.content)
    .post_photos
      = render post.photos
    .post_actions
      = render "shared/actions", lovable: post
  .post_comments
    = render post.comments
  .post_reply
    = render "comments/form", comment: post.comments.build(user: current_user)

