.post[post]
  = link_to post.user, class: "pull-left" do
    = user_avatar_tag(post.user, 45)
  .post_body
    %h4.media-heading
      = post.user.first_name
      %small
        = link_to "posted", post, title: post.created_at.strftime("%A, %B %Y  @ %l:%M %p")
        = "#{time_ago_in_words(post.created_at)} ago - #{post.id}"
    .post_content
      %p= markdown(post.content)
    .post_photos
      = render post.photos
    .post_actions
      = render "shared/actions", post: post
  .post_comments
    = render post.comments
  .post_reply
    = render "comments/form", comment: post.comments.build(user: current_user)

