= link_to "th", root_path(version: :thumbnail)
|
= link_to "sm", root_path(version: :small)
|
= link_to "md", root_path(version: :medium)
|
= link_to "lg", root_path(version: :large)
|
= link_to "xl", root_path(version: :xlarge)
|
= link_to "x3", root_path(version: :x3large)

%br
%br
= render "form", post: @post

%br

%secion.user-timeline-stories
  = paginate @posts


%hr

#posts
  = render @posts

%br
= paginate @posts
