.section
  .col-xs-12.col-md-offset-2.col-md-8
    .top_post.media
      = link_to current_user, class: "pull-left" do
        = image_tag current_user.avatar_url(50), class: "img-circle"
      .media-body
        .media-heading
          %h2= "Hi #{current_user.name}"
      = render "form", post: @post
    #posts
      = render @posts
    = paginate @posts
